[submodule "themes/hyde"]
	path = themes/hyde
	url = https://github.com/gcc42/hyde
[submodule "themes/hugo-redirector"]
	path = themes/hugo-redirector
	url = https://github.com/gcc42/hugo-redirector.git
