{{ partial "head.html" . }}
<body>

  {{ partial "sidebar.html" . }}

  <div class="content container">
    <div class="post">
    <h1 class="post-title">{{ .Title }}</h1>
    <div class="post-subtitle">
        <span class="post-author">By {{ .Site.Author.name }} ・ </span>
        <span class="post-date">{{ .Date.Format "Jan 2, 2006" }}</span>    
    </div>
    {{if .Params.series}}
	    {{ $name := index .Params.series 0 }}
    	<p class="seriesname">Series: <a href="/series/{{$name | urlize}}">{{$name}}</a></p>
    {{end}}
    {{ .Content }}
    {{ if not (eq .Date .Lastmod) -}}
        <span class="post-date" style="font-style: italic;padding-top: 10px;">
            Last modified {{ .Lastmod.Format "Jan 2, 2006" }}
        </span> 
    {{- end }}

    {{ if .Params.series }}
        {{ $link := .Permalink }}
	    {{ $name := index .Params.series 0 }}
	    <hr/>
    	<p><a href="" id="series"></a>This is a post in the <b>{{$name}}</b> series.<br/>
    	Other posts in this series:</p>
        {{ $name := $name | urlize }}
        {{ $series := index .Site.Taxonomies.series $name }}
        <ul class="series">
        {{ range $series.Pages }}
            <li>{{.Date.Format "Jan 02, 2006"}} - 
            {{ if eq .Permalink $link }}
                {{.LinkTitle}}
            {{else}}
                <a href="{{.Permalink}}">{{.LinkTitle}} </a>
            {{end}}
            </li>
        {{end}}
        </ul>
	{{end}} 
	
</div>
    {{ template "_internal/disqus.html" . }}
</div> 


{{ if .HasShortcode "mermaid" -}}
<script src="https://unpkg.com/mermaid@8.5.0/dist/mermaid.min.js" type="text/javascript"></script>
<script type="text/javascript">
    mermaid.initialize({
        startOnLoad: true,
        theme: 'dark',
        useMaxWidth: false,
        htmlLabels: false,
        flowchart: { 
                curve: 'basis',
                width: '100%'
        },
        fontFamily: "menlo, courier, monospace",
        // fontSize: 20,
    });
</script>
{{- end }}
<!-- Add tooltips using tippy -->
<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>
<!-- Add copy to clipboard functionality for code -->
<script src="https://unpkg.com/clipboard@2/dist/clipboard.min.js"></script>
<script src="/code_copy.js"></script>
<script type="text/javascript">
    tippy('[data-tippy-content]');
</script>
</body>
</html>
