
@media (min-width: 38em) {
  html {
    font-size: 20px;
  }
  .post-subtitle, .post-date {
    font-size: 15px;
  }
}
@media (min-width: 48em) {
  html {
    font-size: 15px;
  }
  .post-subtitle, .post-date {
    font-size: 12px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 20px;
  }
  .post-subtitle, .post-date {
    font-size: 15px;
  }
}

html {
  font-weight: 300;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1.post-title {
  font-size: 2.4rem;
  font-weight: 400;
}

pre {
  tab-size:4;
}

hr {
  border-top: 2px solid #ccc;
}

code, pre {
    font-family: Menlo, Monaco, "Courier", monospace;
}

.sidebar {
  background-color: #300030;
}

.sidebar a {
  padding: 0.2em;
}

.sidebar a:hover, .sidebar a:focus  {
  text-decoration: none;
  background-color: #fff;
  color: #310030;
  font-weight: 600;
}

.sidebar-sticky {
  top: 1em;
  bottom: initial;
}

.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-weight: 600;
  font-size: 3em;
  margin-bottom: 0.3em;
}

.sidebar-about a {
  padding: 0;
}

.footnote {
  font-size: 0.7em;
  margin-top: 0.5rem;
}

/*.sidebar-about *:hover {
  text-decoration: none;
}*/


.taxonomy-terms {
  padding-inline-start: 0px;
}

.taxonomy-terms > a {
  color: #303030;
  font-weight: 400;
}

.tags a:hover, .tags a:focus {
  text-decoration: overline;
}

.taxonomy-terms .tag-name {
  padding: 2px 6px 4px 6px;
  background-color: #f3f3f3;
}



.post-subtitle, .post-date {
  font-weight: 500;
}

.post-subtitle > span {
  display: inline-block;
}